<div class="modal-body d-flex justify-content-between">
  <div id="carouselPostId<%=post.id%>" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <% post.images.each_with_index do |image, i| %>
        <div class="carousel-item  <%= i==0 ? "active": ''%>" style="height: 25rem;">
          <%= image_tag image, class: "d-block w-100", id: "post#{post.id}images", style: "max-height: 100%; object-fit:cover;" %>
        </div>
      <% end %>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselPostId<%=post.id%>" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselPostId<%=post.id%>" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  <div>
  <% post.comments.each do |comment| %>
      <div id="p<%=comment.commentable_type%><%=comment.commentable_id%>ModalComment<%=comment.id %>">
        <div class="d-flex justify-content-between">

          <div class="d-flex">
              <%=image_tag comment.user.profile_picture.attached? ? comment.user.profile_picture : 'user_picture.png', class: 'img-thumbnail rounded-circle mx-2', style: 'max-width: 2.5rem; max-height: 2.5rem;'  %>

                <div class="d-flex mx-3 justify-content-between">
                  <div class="d-flex flex-column mx-3">
                    <small class="card-text m-0">
                      <%= link_to comment.user, class:'a-decoration-none' , data: {turbo_frame: "_top"} do %>
                        <span class="fw-bold"><%=comment.user.username %></span>
                        <%end %>
                        <span><%=comment.body %></span></small>
                    <small class="text-muted"><%= time_ago_in_words(comment.created_at) %></small>
                  </div>


                </div>
            </div>
          <div class="d-flex flex-column mx-3">
            <%=render 'posts/comment_action', comment: comment %>
          </div>

          <% if comment.user == current_user %>
            <%= button_to comment_path(id: comment.id), method: :delete, style: 'background: none; border: none;' do %>
              <i class="bi bi-trash3"></i>
            <% end %>
          <% end %>

        </div>
      </div>
  <%end %>
  </div>
</div>