<div class="my-3" id="<%= dom_id post %>">

  <div class="card" style="width: 25rem;">
    <div class="card-header bg-white">
      <div class=" d-flex justify-content-between">
        <div>
          <%= link_to post.user, class:'a-decoration-none' do %>
            <%=image_tag post.user.profile_picture.attached? ? post.user.profile_picture : 'user_picture.png', class: 'img-thumbnail rounded-circle', style: 'width: 10%'  %>
            <span class="fw-bold mx-2 "><%=post.user.username %></span>
          <%end %>
          <small class="text-muted"><%= time_ago_in_words(post.created_at) %></small>
        </div>
        <div>
          <% if current_user == post.user %>
          <div class="dropdown">
            <a class="text-dark fs-4" style="text-decoration: none;" href="#" role='button' data-bs-toggle="dropdown" aria-expanded="false">
              ...
            </a>
            <ul class="dropdown-menu">
              <li> <%= button_to 'Delete post', post, method: :delete, class: 'dropdown-item' %></li>
            </ul>
          </div>
            <%end %>
        </div>
      </div>
    </div>


    <div class="card-body">
      <div id="carouselPostId<%=post.id%>" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <% post.images.each_with_index do |image, i| %>
            <div class="carousel-item  <%= i==0 ? "active": ''%>" style="height: 25rem;">
              <%= image_tag image, class: "d-block w-100", id: "post#{post.id}images", style: "max-height: 100%; object-fit:cover;" %>
            </div>
          <% end %>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselPostId<%=post.id%>" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselPostId<%=post.id%>" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
      <%=render 'posts/post_action', post: post %>


      <p class="card-text"><span class="fw-bold">
        <%= link_to post.user, class:'a-decoration-none' do %>
           <%=post.user.username %>
        <%end %>
        </span> <%=post.caption %> </p>
      <%= render 'posts/post_comments', post: post %>
    </div>
      <%=form_with url: comments_path, method: :post , data: {controller: "comments", action: 'turbo:submit-end->comments#clear'} do |f|%>
        <div class="card-footer d-flex justify-content-between bg-white ">
          <%=f.hidden_field :commentable_id, value: post.id %>
          <%=f.hidden_field :commentable_type, value: "Post" %>
          <%= f.text_area :comment_body, class: 'w-75', placeholder: "Add a comment...", style: 'border:none' %>
          <%=f.submit "Post" , class: 'text-primary fw-bold', style: "background:none; border:none" %>
          <i class="bi bi-bookmark" style="font-size: 1.5rem;"></i>
        </div>
      <% end %>

  </div>

</div>
<script>
    document.getElementById("post<%=post.id%>images").addEventListener("dblclick", function () {
        document.getElementById("post<%=post.id%>actions-likeBtn").click();
    });
</script>
