<%= turbo_frame_tag "post#{post.id}comments" do %>
  <% if post.comments.count > 0 %>
    <a href='#' data-bs-toggle="modal" data-bs-target="#post<%=post.id%>CommentsModal" style='text-decoration: none' class="text-dark">
      <small class="text-muted"> View all <%= pluralize(post.comments.count, "comments")  %></small>
    </a>
    <%end %>
  <% post.comments.last(3).each do |comment| %>

    <p class="card-text m-0">
      <%= link_to comment.user, class:'a-decoration-none', data: {turbo_frame: "_top"} do %>
        <span class="fw-bold"><%=comment.user.username %></span>
        <%end %>
        <span><%=comment.body %></span>
    </p>
    <%#=render 'posts/comment_action', comment: comment%>
  <%end %>

  <!-- Modal -->
  <div class="modal fade" id="post<%=post.id%>CommentsModal" tabindex="-1" aria-labelledby="post<%=post.id%>CommentsModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="post<%=post.id%>CommentsModalLabel">Post Comments</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
            <%=render 'posts/modal_comments', post: post  %>
      </div>
    </div>
  </div>
<% end %>