<%= turbo_frame_tag "post#{post.id}action" do %>
<div class="d-flex justify-content-start align-items-center gap-1 mb-3">
  <%=button_to toggle_like_path(likeable_id: post.id, likeable_type: "Post" ), method: :post, style: "border:none; background:none", id: "post#{post.id}actions-likeBtn" do %>
  <i class="<%= post.likes.find_by(user: current_user)? "bi-heart-fill color-red" : "bi bi-heart" %> " style="font-size: 1.5rem;"></i>
<%end%>
  <a href='#' data-bs-toggle="modal" data-bs-target="#post<%=post.id%>CommentsModal" style='text-decoration: none' class="text-dark">
    <i class="bi bi-chat" style="font-size: 1.5rem;"></i>
  </a>

</div>

<a href='#' data-bs-toggle="modal" data-bs-target="#post<%=post.id%>LikersModal" style='text-decoration: none' class="text-dark">
  <small class="fw-bold my-1" ><%= pluralize(post.likes.count, "like") %> </small>
</a>
  <!-- Modal -->
  <div class="modal fade" id="post<%=post.id%>LikersModal" tabindex="-1" aria-labelledby="post<%=post.id%>LikersModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="post<%=post.id%>LikersModalLabel">Post Likes</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <% post.likers.each do |liker| %>
              <%= render 'posts/liker' , liker: liker %>
          <% end %>
        </div>
      </div>
    </div>
  </div>

<% end %>

